@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>  
<a asp-controller="Home" asp-action="GetPerson" asp-route-id="12" asp-route-name="Гаврила"> Ссылка </a>
</h1>
<h1>
    @{
    var n = new Dictionary<string, string> { { "id", "5" }, { "age", "28" } };
}

    <a asp-route="person" asp-all-route-data=@n>  Ссылка 2 c несколькими параметрами </a>
</h1>

@*CacheTagHelper*@



<p> Время: <b>  @DateTime.Now.ToString("HH:mm:ss") </b></p>

<cache expires-after="@TimeSpan.FromSeconds(10)">
<p> Время: <b>  @DateTime.Now.ToString("HH/mm:ss") </b></p>
</cache>


<sum>
<timer> </timer>
<date> </date>

</sum>